* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

/*header*/
header a {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

header {
  background: rgb(59, 89, 152);
  padding: 15px;
}
header .menu-links a {
  margin-right: 20px;
}

.logo-area {
  color: white;
  display: inline-block;
  width: 20%;
  margin-left: -4px;
}

.logo-area a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.logo-area a:hover {
  background-color: rgba(255, 251, 251, 0.5);
}

.menu-links {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-align: right;
  padding-right: 20px;
}

.menu-links ul li {
  display: inline-block;
  text-decoration: none;
}

.menu-links ul li a {
  color: white;
  text-decoration: none;
}

.icon-links {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
  padding-left: 20px;
}

.icon-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.search-area {
  display: inline-block;
  width: 40%;
  margin-left: -4px;
  text-align: right;
}

.search-area ul li {
  display: inline-block;
}

.quick-options {
  display: inline-block;
  padding-left: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 20px;
}

.privacy {
  display: inline-block;
  padding-left: 20px;
  color: white;
}

/*TOP SECTION*/
#top-area {
  padding: 200px 15px 90px 15px;
  background: url(/images/forest.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.user-img {
  padding: 10px;
  display: inline-block;
}

.profile-img {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.user-details {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

.user-details h3 {
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin-top: 35px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.user-details a {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 5px;
  background: rgba(255, 251, 251, 0.5);
  transition: background 0.8s ease-in-out;
}

.user-details a:hover {
  background: #4097e7;
}

/*Middle SECTION*/
#content-area {
  background: #fafafa;
  overflow: auto;
  padding: 50px 0;
}

#content-area .side-column {
  float: left;
  width: 35%;
  margin: 0 2.5%;
  height: 600px;
  max-width: 380px;
}

#content-area .widget-box {
  padding: 15px;
  overflow: auto;
  background: white;
  border-radius: 3px;
  margin: 0 0 15px 0;
  -webkit-box-shadow: 0px 2px 5px -1px rgba(138, 138, 138, 1);
  -moz-box-shadow: 0px 2px 5px -1px rgba(138, 138, 138, 1);
  box-shadow: 0px 2px 5px -1px rgba(138, 138, 138, 1);
}

#content-area .widget-box .head .widget-icon {
  background: #f4f4f4;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content-area .widget-box .head .widget-icon .fa {
  max-width: 50%;
  font-size: 30px;
}

#content-area .widget-box .head .widget-title {
  display: inline-block;
  padding: 0 0 0 10px;
}

#content-area .main-area {
  float: left;
  width: 55%;
  margin: 0 2.5%;
  height: 600px;
}

.column img {
  width: 33.33%;
  height: 110;
  display: inline-block;
  float: left;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#content-area .widget-box .head {
  padding: 20px 0;
}

#content-area .widget-box .head .widget-icon-container {
  display: inline-block;
}

#content-area .main-area .widget-box .submenu {
  padding: 0;
  margin: 0;
  margin: 0 0 20px 0;
}

#content-area .main-area .submenu ul {
  padding: 0;
}

#content-area .main-area .submenu ul li {
  display: inline-block;
  width: 20%;
  float: left;
  text-align: center;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}

#content-area .main-area .submenu ul li:hover {
  border-bottom: 3px solid #4097e7;
  color: #4097e7;
  transition: all 0.5s ease-in-out;
}

.submenu ul li span {
  padding: 10px;
  display: block;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  font-size: 14px;
}

#content-area .main-area .submenu ul li .fas {
  font-size: 20px;
}

#content-area .main-area .widget-box .post {
  overflow: auto;
}

#content-area .user-image {
  display: inline-block;
  float: left;
  background: url(https://pbs.twimg.com/profile_images/1078471113397555200/ro5vaMFW.jpg)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 40px;
  width: 40px;
  margin: 0 15px 0 0;
  border-radius: 50%;
}

#content-area .post-info {
  float: left;
  display: inline-block;
  width: 92%;
}

#content-area .main-area .widget-box.post .head::after {
  content: " ";
  clear: both;
  display: table;
}

#content-area .post-info .user-info {
  display: block;
  font-size: 14px;
  margin: 4px 0 6px 0;
}

.user-info a {
  text-decoration: none;
  color: #4097e7;
  transition: all 0.2s ease-in-out;
}

.update {
  text-decoration: none;
  color: #4097e7;
  transition: all 0.2s ease-in-out;
}
.update:hover {
  color: red;
}

.user-info a:hover {
  color: red;
}

a {
  text-decoration: none;
  color: #4097e7;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: red;
  transition: all 0.2s ease-in-out;
}

#content-area .post-info .post-date {
  display: block;
  color: rgba(102, 100, 100, 0.5);
  font-size: 12px;
}

#content-area .main-area .widget-box.post .body .post-comments .user-img {
  width: 5%;
  display: inline-block;
  /*overflow: auto;*/
  float: left;
}

#content-area .main-area .widget-box.post.body .post-comments::after {
  content: " ";
  clear: both;
  display: table;
}

#content-area .main-area .widget-box.post .body .post-comments .user-img img {
  height: 40px;
  width: 40px;
  margin: 0 15px 0 0;
  border-radius: 50%;
  float: left;
}

#content-area .body .post-comments .user-comment {
  float: left;
  display: inline-block;
  width: 92%;
  font-size: 14px;
  margin-left: 15px;
}

#content-area .body .post-comments .user-comment .user-info {
  margin: 5 0 10px 0;
  padding: 10px 0;
}

#content-area .main-area .widget-box.post .body .post-form img {
  height: 40px;
  width: 40px;
  margin: 0 15px 0 0;
  border-radius: 50%;
}

.post-comments .user-comment {
  background: #fafafa;
}

.body .top-icons {
  color: #dbd9d9;
  width: 100%;
  font-size: 20px;
  margin-right: 15px;
}

.top-icons span {
  float: right;
}

#content-area .body .post-form {
  display: inline-block;
  width: 92%;
  font-size: 14px;
  margin-left: 5px;
}

.post-form {
  padding: 15px 0;
}

.time {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  float: right;
}

input {
  width: 100%;
  border: 0 solid #fff;
  padding: 5px;
  font-size: 18px;
  border-bottom: 1px solid #a5a4a4;
}

input:focus {
  width: 90%;
  border: 0 solid rgb(219, 217, 217);
  font-size: 18px;
  outline: none;
}

.body {
  color: #a5a4a4;
  font-family: Arial, Helvetica, sans-serif;
}